<div class="navbar">
    <div class="logo">
        <p class="logoText">PRANA & CHI</p>
    </div>
    <div class="links">
        <ul class="linksList" style="margin-bottom: 0;">
            <a class="link" routerLink="/oferta-actividades" >Actividades</a>
            <a class="link" href="#contacto">Contactanos</a>
            <a class="link" routerLink="/Conocenos">Conocenos</a>
        </ul>
    </div>
    <div class="sesion">
        <app-log-in></app-log-in>
    </div>
    <div class="burger">
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li>Actividades</li>
            <li>Contactanos</li>
            <li>Conocenos</li>
            <li><app-log-in style="z-index: 99;"></app-log-in></li>
        </ul>
    </div>
</div>
