<div class="navbar">
    <div class="logo">
        <p class="logoText">PRANA & CHI</p>
    </div>
    <div class="links">
        <ul class="linksList" style="margin-bottom: 0;">
            <a class="link">Actividades</a>
            <a class="link">Contactanos</a>
            <a class="link">Conocenos</a>
        </ul>
    </div>
    <div class="sesion">
        <button class="sesionBtn">Espacio personal</button>
    </div>
    <div class="burger">
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li>Actividades</li>
            <li>Contactanos</li>
            <li>Conocenos</li>
        </ul>
    </div>
</div>
