.sesionBtn{
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    border-width: 2px;
    border-color: white;
    color: white;
    width: 180px;
    height: 50px;
    border-style: solid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    z-index: 99;
}