<button type="button" class="sesionBtn" data-bs-toggle="modal" data-bs-target="#loginModal">
    Iniciar Sesión
</button>  

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Acceso Usuarios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="name">Correo Electrónico:</label>
          <input type="email" id="mail" name="email" required minlength="4" maxlength="30"/>
          <br>
          <label for="name">Contraseña:</label>
          <input type="password" id="password" name="password" required minlength="4" maxlength="30"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
          <button type="button" class="btn btn-primary">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </div>
