.documents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;

    justify-content: center;
    width: 90vw;
    height: 62vh;
    margin-top: 10vh;
    margin-left: 5vw;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.titleWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link{
    margin-left: 40px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.actionbtn{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: none;
    background-color: #2B4256;
    color: white;
    margin-left: 10px;
    font-size: small;
}

.profile--subtitle{
    font-size: 22px;
}