<app-navbar-secondary></app-navbar-secondary>
<section class="payments">
    <div class="title">
        <img src="../../assets/payment.png" class="icon">
        <h1>Pagos</h1>
    </div>
    <div class="adminview">
      <div class="filters">
        <input type="text" placeholder="Nombre" [(ngModel)]="namefilter" (change)="filter()">
        <select name="select" [(ngModel)]="marcFilter" (change)="filter()">
          <option value="Todas" selected>Todas</option>
          <option value="true">Pagado</option>
          <option value="false">No Pagado</option>
        </select>
      </div>
      @if(admin){
        <div class="adminBtnWrapper">
          <app-add-payment></app-add-payment>
        <button class="saveChanges" (click)="generateMonthPays()">Generar pagos del mes</button>
        </div>
      }
    </div>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Pagado</th>
            <th scope="col">Cliene</th>
            <th scope="col">Asunto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (pay of paysFiltered; track $index) {
            <tr>
              <th> {{convertirTimestamp(pay.Fecha)}} </th>
              <td> {{pay.Cantidad}}€ </td>
              <td> {{pay.Marcada ? "✔️" : "X"}} </td>
              <td> {{pay.Usuario}} </td>
              <td> {{pay.Concepto == "" ? "-" : pay.Concepto}} </td>
              <td>
                <div class="actions">
                    <button class="payBtn"><img src="../../assets/pagar.png" class="icon" (click)="StripePay(pay)"></button>
                @if(admin){
                  <button class="payBtn"><img src="../../assets/delete.png" class="icon" (click)="deletePay(pay.id)"></button>
                }
              </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
</section>