.addProfile{
    align-self: flex-end;
    margin-right: 5px;
    margin-top: 10px;
}

.actionbtn{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: none;
    background-color: #2B4256;
    color: white;
    margin-left: 10px;
    font-size: small;
}