<!-- Button trigger modal -->
<div class="profile--subtitle addProfile">
    <label for="profileName">Añadir Perfil</label>
    <button type="button" class="actionbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        +
    </button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Introduzca el nombre</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Nombre de perfil" [(ngModel)]="profileName" style="padding-left: 10px;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="sendMessage()" data-bs-dismiss="modal">Añadir</button>
        </div>
      </div>
    </div>
  </div>