<section class="section1">
    <img src="../../assets/Horarios.png" class="Horairos">
</section>
<section class="section3">
    <img src="../../assets/retrato.webp" style="margin-left: 20px;" class="judoImg2">
    <div class="descripcion2">
        <h1 class="title">Sobre mí, <br> Ayoze González</h1>
        <p class="text"> nacido en Madrid en 1975, es un destacado maestro de artes marciales con una carrera de más de 30 años. Comenzó su viaje en el judo a los 6 años, alcanzando el prestigioso rango de sexto dan a los 40. Su dedicación y habilidad le llevaron a explorar el jiujitsu, donde se consagró como campeón de España en múltiples ocasiones, siendo conocido por su técnica impecable y su espíritu indomable. A lo largo de su carrera, Juan Carlos buscó un equilibrio entre la fuerza y la serenidad, lo que le condujo al Taichi, arte en el que se convirtió en un respetado maestro. Ha entrenado a cientos de estudiantes, promoviendo la armonía entre cuerpo y mente. Su dojo en Madrid es un centro de excelencia y sabiduría, donde la tradición y la innovación se encuentran. Su legado perdura en la disciplina y el respeto que inculca en cada uno de sus alumnos.</p>
    </div>
</section>