<!-- Button trigger modal -->
<button type="button" class="btn btn-primary notificatioBtn" data-bs-toggle="modal" [attr.data-bs-target]="'#'+actividad.id"> <img src="../../assets/lapiz.png" alt="see icon" class="icon"> </button>
  
  <!-- Modal -->
  <div class="modal fade" id={{actividad.id}} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles de la actividad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1> {{ this.actividad.Nombre }} </h1>
          <h5> {{ this.actividad.Monitor }} {{ this.actividad.Lugar }}, {{ this.actividad.Horario }} </h5>

          <input list="usuarios" placeholder="Seleccione Usuario" class="adduser"  [(ngModel)]="usuariolSelecionado" (ngModelChange)="onChange()">
          <datalist id="usuarios">
            @for (usuario of usuarios; track $index) {
              <option>{{usuario.Nombre}}: {{usuario.id}}</option>
            }
          </datalist>

          <input list="perfiles" placeholder="Seleccione perfil" class="adduser" [(ngModel)]="perfilSelecionado">
          <datalist id="perfiles">
            @if(usuariolSelecionadoObj){
              @for (perfil of usuariolSelecionadoObj.perfiles; track $index) {
                <option>{{usuariolSelecionadoObj.Nombre}}: {{perfil}}</option>
              }
            } 
          </datalist>

          <button type="button" class="btn btn-primary adduser" (click)="AddUser()">Añadir</button>
          <div class="members">
            <h2 style="align-self: baseline;">Usuarios:</h2>
          <ul>
            @for (perfil of actividad.Perfiles; track $index) {
              <div class="profileWrapper">
                <li>{{perfil}}</li>
                <button class="inconBtn"><img src="../../assets/delete.png" class="icon" (click)="spliceProfiles($index)"></button>
              </div>
            }
          </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>