.sesionBtn{
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    border-width: 2px;
    border-color: white;
    color: white;
    width: 115px;
    height: 45px;
    border-style: solid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    z-index: 99;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    font-size: 16px;
}

input{
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
    height: 35px;
    align-self: left;
}