<section class="section2">
    <div class="descripcion">
        <h1 class="title">JUDO - 柔道</h1>
        <p class="text">¡Explora el judo, donde la destreza se encuentra con la estrategia! Desarrolla tu fuerza física y mental mientras aprendes técnicas de lanzamiento y control. Más que un deporte, el judo promueve el respeto, la humildad y la perseverancia. Únete a esta emocionante disciplina para mejorar tu condición física, aprender defensa personal y cultivar un espíritu competitivo saludable. ¡Descubre el poder del judo en el tatami!</p>
    </div>
    <img src="../../assets/judo.png" class="judoImg">
</section>
<section class="section3">
    <img src="../../assets/taichi.png" class="judoImg2">
    <div class="descripcion2">
        <h1 class="title">TAICHI - 太极</h1>
        <p class="text">Descubre el Taichi, un arte milenario que fusiona movimiento, respiración y meditación para cultivar la armonía entre cuerpo y mente. Con raíces en la cultura china, el Taichi ofrece beneficios físicos y mentales. Practicado con gracia y fluidez, fortalece los músculos, mejora la flexibilidad y reduce el estrés. Este arte marcial de ritmo suave es adecuado para todas las edades y niveles de condición física. A través de movimientos lentos y precisos, los practicantes encuentran equilibrio y serenidad en un mundo lleno de prisa. ¡Únete al viaje hacia la calma interior y la vitalidad con el Taichi!</p>
    </div>
</section>
<section class="section2">
    <div class="descripcion">
        <h1 class="title" >CHOY LI FUT - 蔡李佛</h1>
        <p class="text">El Choy Li Fut, un arte marcial tradicional chino, combina la elegancia del Kung Fu con la potencia de las técnicas de combate. Originado en el sur de China, este estilo dinámico se destaca por sus movimientos circulares y fluidos, así como por sus impactantes golpes de puño y patadas. Además de promover la fuerza física y la coordinación, el Choy Li Fut fomenta valores como el respeto, la disciplina y la perseverancia. Con una rica historia y una amplia gama de técnicas, es una práctica emocionante y desafiante para personas de todas las edades y habilidades.</p>
    </div>
    <img src="../../assets/kungfu.png" class="judoImg3">
</section>
<section class="section3">
    <img src="../../assets/defensa.png" class="judoImg2" style="margin-left: 10vw;">
    <div class="descripcion2">
        <h1 class="title">DEFENSA PERSONAL - 護身術</h1>
        <p class="text">La defensa personal es más que aprender técnicas de combate; es empoderamiento y preparación para situaciones adversas. Desde el krav maga hasta el jiu-jitsu, cada disciplina enseña habilidades prácticas para protegerse y mantener la calma en momentos críticos. Además de fortalecer el cuerpo, la defensa personal cultiva la confianza y la conciencia situacional, fundamentales para evitar conflictos y responder eficazmente si es necesario. Ya sea que seas principiante o experto, invertir en tu seguridad personal es una decisión inteligente y valiente. ¡Aprende hoy y vive con confianza mañana!</p>
    </div>
</section>