.section3{
    height: 100vh;
    width: 100%;
    background-color: #0D1E2F;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.section2{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10vw;
}

.judoImg{
    width: auto;
    height: 60vh;
    margin-right: 10vw;
}

p{
    width: 80%;
    font-size: 24px;
}

h5{
    font-size: 40px;
    font-weight: bold;
}

b{
    color: #2B4256;
}

.title{
    font-weight: 800;
    justify-self: left;
    font-size: 40px;
    margin-bottom: 20px;
}
.descripcion{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-right: 10vw;
}

.judoImg2{
    width: auto;
    height: 50vh;
    margin-right: 8vw;
    margin-left: 20px;
}

.judoImg3{
    width: 45vw;
    height: auto;
    margin-right: 1vw;
}

@media (max-width: 768px) {
    .section2, .section3{
        height: auto;
        width: auto;
        padding: 20px 10px;
        flex-direction: column;
    }
    .descripcion, .descripcion2{
        padding: 20px;
        margin: 0px;
    }
    p{
        width: 100%;
    }

    .judoImg{
        width: 50vw;
        height: auto;
        margin: 0px;
    }
    .judoImg3{
        width: 70vw;
    }
    .judoImg2{
        width: auto;
        max-height: 30vh;
        max-width: 100%;
        height: auto;
        margin: 0px !important;
    }
}