<section class="activities">
    <div class="title">
        <img src="../../assets/actividades.png" class="icon">
        <h1>Actividades</h1>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Horario</th>
            <th scope="col">Lugar</th>
            <th scope="col">Monitor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>aaa</td>
          </tr>
        </tbody>
      </table>
      <button class="saveChanges">Descagar Horaios</button>
</section>