<app-navbar-secondary></app-navbar-secondary>
<section class="activities">
    <div class="titleWrapper">
      <div class="title">
        <img src="../../assets/actividades.png" class="icon">
        <h1>Actividades</h1>
      </div>
        <div class="profile--subtitle addProfile">
          <label for="profileName">Añadir Actividad</label>
          <button class="actionbtn">+</button>
      </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Horario</th>
            <th scope="col">Lugar</th>
            <th scope="col">Monitor</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>aaa</td>
            <td >
              <div class="actions">
              <button class="checkBrn"> </button>
              <button class="inconBtn"><app-activities-modal></app-activities-modal></button>
              <button class="inconBtn"><img src="../../assets/delete.png" class="icon"></button>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="saveChanges">Descagar Horarios</button>
</section>