<section class="profile">
    <section class="profile--user">
        <div class="title">
            <img src="../../assets/user.png">
            <h1>Cuenta</h1>
        </div>
        <label>Nombre Completo</label>
        <input type="text">
        <label>Correo Electrónico</label>
        <input type="text">
        <label>Teléfono</label>
        <input type="text">
        <label>Datos Adicionales</label>
        <input type="text">
    </section>
    <section class="profile--profiles">
        <div class="title">
            <img src="../../assets/profiles.png">
            <h1>Perfiles de Usuario</h1>
        </div>
        <div class="profile--title">
            <label for="profileName">Nombre</label>
            <button class="removeProfile">-</button>
        </div>
        <input type="text">
        <div class="profile--subtitle">
            <label for="profileName">Añadir Perfil</label>
            <button class="addProfile">+</button>
        </div>
    </section>
    <button class="saveChanges">Guardar Cambios</button>
</section>
