<section class="profile">
    <section class="profile--user">
        <div class="title">
            <img src="../../assets/user.png" class="icon">
            <h1>Cuenta</h1>
        </div>
        <label>Nombre Completo</label>
        <input type="text">
        <label>Correo Electrónico</label>
        <input type="text">
        <label>Teléfono</label>
        <input type="text">
        <label>Datos Adicionales</label>
        <input type="text" style="height: 100px;">
    </section>
    <section class="profile--profiles">
        <div class="title" >
            <img src="../../assets/profiles.png" class="icon">
            <h1>Perfiles de Usuario</h1>
        </div>
        <div class="profile--title">
            <label for="profileName">Nombre</label>
            <div class="profile--subtitle">
                <label for="profileName">Quitar Perfil</label>
                <button class="actionbtn">-</button>
            </div>
        </div>
        <input type="text">
        <div class="profile--subtitle addProfile">
            <label for="profileName">Añadir Perfil</label>
            <button class="actionbtn">+</button>
        </div>
    </section>
    <button class="saveChanges">Guardar Cambios</button>
</section>
