<app-navbar-secondary></app-navbar-secondary>
<section class="profile">
    <section class="profile--user">
        <div class="title">
            <img src="../../assets/user.png" class="icon">
            <h1>Cuenta</h1>
        </div>
        <label for="profileName">Nombre Completo</label>
        <input type="text" id="profileName" [(ngModel)]="this.userActual.Nombre" >
        <label for="profileMail">Correo Electrónico</label>
        <input type="text" id="profileMail" [(ngModel)]="this.userActual.Correo">
        <label for="profilePhone">Teléfono</label>
        <input type="text" id="profilePhone" [(ngModel)]="this.userActual.Telefono">
        <label for="profileData">Datos Adicionales</label>
        <input type="text" style="height: 100px;" id="profileData" [(ngModel)]="this.userActual.Datos">
    </section>
    <section class="profile--profiles">
        <div class="title" >
            <img src="../../assets/profiles.png" class="icon">
            <h1>Perfiles de Usuario</h1>
        </div>
        @for (perfil of this.userActual.perfiles; track perfil; let first = $first; let index = $index){
            <div class="profile--title">
                <label for="profileName">Nombre de perfil</label>
                <div class="profile--subtitle">
                    @if (!first) {
                        <label for="profileName" class="deleteProfile">Quitar Perfil</label>
                        <button class="actionbtn" (click)="removeProfile(index)">-</button>
                    }
                </div>
            </div>
            <input type="text"  [ngModel] = "perfil" disabled>
        }
        <div class="profile--subtitle">
            <app-add-profile (profileEmiter)="receiveMessage($event)"></app-add-profile>
        </div>
    </section>
    <button class="saveChanges">Guardar Cambios</button>
</section>
