<div class="navbar">
    <div class="link-warpper">
        <a class="link" routerLink="/perfil" routerLinkActive="active">Perfil</a>
        <a class="link" routerLink="/actividades" routerLinkActive="active">Actividades</a>
        <a class="link" routerLink="/documentos" routerLinkActive="active">Documentos</a>
        <a class="link" routerLink="/notificaciones" routerLinkActive="active">Notificaciones</a>
        <a class="link" routerLink="/pagos" routerLinkActive="active">Pagos</a>
    </div>
    <button type="button" class="btn btn-secondary logoutbtn">Salir</button>
</div>