<section class="payments">
    <div class="title">
        <img src="../../assets/payment.png" class="icon">
        <h1>Pagos</h1>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Asunto</th>
            <th scope="col">Borrar</th>
            <th scope="col">Pagado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td><img src="../../assets/delete.png" class="icon"></td>
            <td><button> </button></td>
          </tr>
        </tbody>
      </table>
</section>